[versions]
kotlin = "1.4.32"
docker = "6.7.0"
diffplug = "3.36.2"
shadow = "7.1.2"
groovy = "3.0.9"
spock = "2.0-groovy-3.0"
graalvmPlugin = "0.9.11"
micronaut = "3.2.0"
micronaut-aot = "1.1.0"
log4j2 = { require = "2.17.1", reject = ["]0, 2.17["] }

[libraries]
dockerPlug = { module = "com.bmuschko:gradle-docker-plugin", version.ref = "docker" }
diffplugPlugin = { module = "com.diffplug.gradle:goomph", version.ref = "diffplug" }
shadowPlugin = { module = "gradle.plugin.com.github.johnrengelman:shadow", version.ref = "shadow" }
graalvmPlugin = { module = "org.graalvm.buildtools:native-gradle-plugin", version.ref = "graalvmPlugin" }

kotlin-allopen = { module = "org.jetbrains.kotlin:kotlin-allopen", version.ref = "kotlin" }
kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }

groovy-core = { module = "org.codehaus.groovy:groovy", version.ref = "groovy" }
spock-core = { module = "org.spockframework:spock-core", version.ref = "spock" }
spock-junit4 = { module = "org.spockframework:spock-junit4", version.ref = "spock" }
log4j2-core = { module = "org.apache.logging.log4j:log4j-core", version.ref = "log4j2" }

micronaut-aot-api = { module = "io.micronaut.aot:micronaut-aot-api", version.ref = "micronaut-aot" }
micronaut-aot-core = { module = "io.micronaut.aot:micronaut-aot-core", version.ref = "micronaut-aot" }
micronaut-aot-std = { module = "io.micronaut.aot:micronaut-aot-std-optimizers", version.ref = "micronaut-aot" }
micronaut-aot-cli = { module = "io.micronaut.aot:micronaut-aot-cli", version.ref = "micronaut-aot" }

[bundles]
optionalPlugins = [ "kotlin-allopen", "kotlin-gradlePlugin", "graalvmPlugin" ]
